body{
    background-color: rgb(183, 230, 246);
}
#container{
    margin: 0 auto;
    width: 450px;
    height: 600px;
    padding-top: 36px;
    background-color: rgb(174, 172, 172);
    border-radius: 15px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.865), 0 0 15px rgba(0, 0, 0, 0.865);
    
}

h1{
    text-align: center;
    color: teal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#display{
    
    width: 83%;
    border: 2px solid rgba(255, 255, 255, 0.573);
    box-shadow: 0 0 30px 0.5px rgba(0, 0, 0, 0.461);
    border-radius: 14px;
    height: 90px;
    text-align: right;
    justify-content: center;
    background-color: rgb(37, 34, 34);
    color: rgb(255, 255, 255);
    font-size: 50px;
    padding-right: 9px;
}

.box{
    
    text-align: center;
    justify-content: space-between;
    font-size: 75px;
    padding-top: 25px;
}

.btn,.btn1,.btn2{
    color: blue;
    background-color: rgb(174, 172, 172);
    font-size: 45px;
    
    width: 67px;
    border:  2px solid rgb(174, 172, 172);
    box-shadow: 0 0 5px 0.5px rgba(0, 0, 0, 0.461);
}

.btn1{
    background-color: rgb(255, 145, 0);
}
.btn2{
    background-color: rgb(17, 0, 255);
    color: aliceblue;
}
.in{
    text-align: center;
}

.btn:active{
    background-color: rgb(116, 116, 115);
    width: 59px;
}
.btn:hover{
    background-color: rgba(255, 255, 255, 0.358);

}
.btn1:hover{
    background-color: chocolate;
}
.btn2:hover{
    width: 67px;
    height: 67px;
    background-color: aliceblue;
    color: blue;
    border: 2px solid blue;
    box-shadow: 0 0 12px 0.5px rgba(0, 4, 255, 0.516);

}
.btn2:active{
    background-color: rgb(17, 0, 255);
    color: aliceblue;
}
p{
    font-size: 7px;
    text-align: center;
    padding-top: 10px;
    font-family: cursive;
}
p:hover{
    font-size: 15px;
}